<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style3.css">
    </head>
    <body>
        <div class="title">
            Social Work
        </div>
        <div class="about-content">
            <div class="column left">
                <div class="slider"></div>
                <!-- <img src="../images/ngo.png" class="m1" alt="img1">
                <img src="../images/16.png" class="m2" alt="img2">
                <img src="../images/17.png" class="m3" alt="img3"> -->
            </div>
            <div class="column right">
                <div class="text">
                    Jyoti Charitable Trust
                </div>
                <p>•	Organized Health Camp for Underprivileged people</p>
                <p>•	Assisted the team in technical documentation and modification</p>
                <p>•	Helped in distribution of basic needs to needy</p>
            </div>
            <div class="column right">
                <div class="text">
                    Ministry of Youth Affairs and Sports India with UNICEF India
                </div>
                <p>•	Participated in a national awareness campaign that aimed at stopping the circulation of fake news in the most distressed times of the pandemic. This movement was launched, when the covid-19 second wave hit the country, to educate people to take vaccines and follow certain norms. Got a certificate for completing some tasks pertaining to the same.</p>
                <p>•	Completed five tasks as part of the #YoungWarrior movement activated by the Ministry of Youth Affairs and Sports, CBSE, YuWaah (Generation Unlimited India), and UNICEF India. </p>
            </div>
            <div class="column right">
                <div class="text">
                    Earth Saviour's Foundation
                </div>
                <p> •   Volunteered for NGO's day to day workings and initiatives</p>
                <p> •	Organized Health camps</p>
                <p> •	Helped old and needy people</p>
            </div>
            <div class="column right">
                <div class="text">
                    Sangeet Samaj Public School
                </div>
                <p> •	Taught deprived kids Mathematics and Computing. </p>
                <p> •	Conducted trivia quizzes to promote current affairs and enhance learning. </p>
                <p> •	Attended workshops, seminars pertaining to children education.</p>
            </div>
            <div class="column right">
                <div class="text">
                    Apna Ghar Welfare Society
                </div>
                <p>Conducted games and fun activities with the intention to promote learning in fundamentals of subjects like Maths, general knowledge etc.</p>
            </div>
        </div>
    </body>
</html>